.container-superior header {
    display: grid;
    grid-template-areas:
        'txt circles'
        'button circles';
}

.apresentation {
    grid-area: txt;
    width: var(--main-width-apresentation);
    display: flex;
    flex-direction: column;
    align-items: left;
    flex-wrap: nowrap;
}

.apresentation h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 4rem;
    width: max-content;
    color: var(--main-color-white);
}

.apresentation h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    width: 50%;
    padding: 10px 0;
    font-size: 1rem;
    line-height: 1.5rem;
    color: rgba(201, 201, 201, 0.219);
}

.apresentation h3 span {
    color: rgba(201, 201, 201, 0.6);
}

.container-superior header a {
    grid-area: button;
    margin: 20px 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    display: block;
    width: 20%;
    height: 3rem;
    text-align: center;
    font-size: 1rem;
    line-height: 3rem;
    background-color: var(--main-color-orange);
    color: var(--main-color-white);
}

.container-circles {
    width: max-content;
    height: auto;
    flex-direction: column;
    grid-area: circles;
}

.container-circles>* {
    display: block;
}

.actived {
    background-color: var(--main-color-orange);
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--main-color-orange);
}

.line {
    width: 1px;
    height: 40px;
    background-color: var(--main-color-white);
    opacity: .5;
}

/*MOBILE*/
@media only screen and (max-width: 767px) {
    .container-superior header {
        display: grid;
        grid-template-areas: 'txt' 'button';
    }

    .apresentation {
        width: 100%;
    }

    /* Banner antes da div .apresentation 
    .apresentation::before {
        content: "";
        width: 100%;
        height: 100px;
        background-image: url(../img/background-header-mobile.jpg);
        background-size: cover;
        background-position: center top;
    }
    */
    .apresentation h1 {
        font-size: 2.2rem;
        width: max-content;
    }

    .apresentation h3 {
        width: 80%;
    }

    .container-superior header a {
        height: 3rem;
        font-size: 1rem;
        line-height: 3rem;
        width: 35%;
    }

    .container-circles {
        display: none;
    }
}

/*TABLET*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    
}