* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

:root {
    --main-color-white: #e6e6e6;
    --main-width-apresentation: calc(100% - 22px);
    --main-color-green: #11F091;
    --main-color-orange: #FF6237;
    --main-color-background: #23263A;
    --main-box: 14rem;
    --main-box-work: 17rem;
}

body {
    background-color: var(--main-color-background);
    position: relative;
}

.container-superior {
    margin: 150px;
}

a {
    color: inherit;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.paralax {
    justify-content: right;
    width: var(--main-width-apresentation);
    height: max-content;
    animation-name: float;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-20px);
    }

    100% {
        transform: translatey(0px);
    }
}

.paralax img {
    height: 300px;
}

/*MOBILE*/
@media only screen and (min-width: 320px) and (max-width: 475px) {
    .container-superior {
        margin: 10px;
    }

    .paralax img {
        height: 200px;
    }
}

/*TABLET*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .container-superior {
        margin: 50px;
    }
}