footer div:first-of-type {
    font-family: 'Open Sans', sans-serif;
    color: var(--main-color-white);
    height: 18rem;
    background-color: #1B1D30;
    flex-direction: column;
    padding: 50px;
    justify-content: flex-start;
}

footer div:first-of-type p {
    min-width: 250px;
    line-height: 1.5rem;
    text-align: center;
    width: 50%;
    opacity: .6;
    margin: 20px 0;
}

footer section {
    margin: 20px 0;
}

footer section a {
    position: relative;
    margin: 0 10px;
}

footer section a img {
    height: 15px;
}

footer div:last-of-type {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    background-color: #121212;
    height: 3.5rem;
    color: var(--main-color-white);
    padding: 10px;
}